ipython
traitlets
pexpect
backports.shutil_get_terminal_size
pickleshare
simplegeneric
jupyter
scipy
# On Macs may need to comment out /usr/X11/include/freetype2 before compiling matplotlib
matplotlib
tornado
pyzmq
mpld3
fabric
pandas
jsonschema
terminado
bokeh==0.12.5
svgwrite
pysqlite
# For Jenkins
junit-xml
