ipython
traitlets
pexpect
backports.shutil-get-terminal-size==1.0.0
pickleshare
simplegeneric
jupyter
scipy
# On Macs may need to comment out /usr/X11/include/freetype2 before compiling matplotlib
matplotlib
tornado
pyzmq
mpld3
fabric
pandas
jsonschema
terminado
bokeh
svgwrite
pysqlite
# For Jenkins
junit-xml
