ipython==6.1.0
traitlets==4.3.2
pexpect
backports.shutil_get_terminal_size
pickleshare==0.7.4
simplegeneric
jupyter
scipy
# On Macs may need to comment out /usr/X11/include/freetype2 before compiling matplotlib
matplotlib
tornado
pyzmq
mpld3
fabric
pandas
jsonschema==2.6.0
terminado
bokeh
svgwrite
pysqlite==2.8.3
# For Jenkins
junit-xml==1.7
