mpi4py==2.0.0
snakemq==1.2
cgen==2014.1
jinja2==2.7.3
codepy==2013.1.2
PyYAML==3.11
numpy==1.12.1
#pycuda==
colorama==0.3.9
#nvidia-ml-py
MyCluster>=0.2.0
#MyClusterUI>=0.1.2
traitsui==5.1.0
grizzled==0.9.4
junit_xml==1.7
