ipython==5.4.1
traitlets==4.3.2
pexpect==4.2.1
backports.shutil-get-terminal-size==1.0.0
pickleshare==0.7.4
simplegeneric==0.8.1
jupyter==1.0.0
scipy==0.19.1
# On Macs may need to comment out /usr/X11/include/freetype2 before compiling matplotlib
matplotlib==2.1.0
tornado==4.5.2
pyzmq==16.0.2
mpld3==0.3
fabric==1.14.0
pandas==0.20.3
jsonschema==2.6.0
terminado==0.6
svgwrite==1.1.11
pysqlite==2.8.3
# For Jenkins
junit-xml==1.8
# Plotting
six==1.11.0
bokeh==0.12.9
ipyleaflet==0.4.0
bqplot==0.10.0
holoviews==1.8.4
#geoviews - External dependencies
#datashader - External dependencies
colorcet==0.9.1
xarray==0.9.6
cloudpickle==0.4.0
# ipyvolume==0.4.0  #  Disabling for now as requires Pillow which requires libjpeg
pythreejs==0.4.1
paramnb==2.0.2
jupyterlab==0.27.0
jupyterlab-widgets==0.6.15
ipympl==0.0.5
#git+https://github.com/ioam/parambokeh.git